$main-color: #3a23ad;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 16px *62.5 =10px =1rem
}

body {
  height: 100vh;
  font: 1.6rem Helvetica, Arial;
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
  &:hover {
    color: $main-color;
  }
}
button {
  background-color: $main-color;
  color: white;
  font: 1.6rem helvetica;
  padding: 1.5rem;
  border: 0.1rem solid magenta;
  //border-radius: 0.5rem;
  cursor: pointer;
  &:hover {
    background-color: lighten($color: $main-color, $amount: 10%);
    // color: white;
  }
}
.grid-container {
  display: grid;
  grid-template-areas: 
    "header" //row
    "main" //row
    "footer"; //row
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #f8f8f8;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: $main-color;
    }
  }
}

.brand {
  a {
    font-size: 3rem;
  }
}
footer {
  background-color: $main-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
//////////---------Products

.products {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  li {
    flex: 0 1 10rem;
    margin: 1rem;
    margin-bottom: 0;
    height: 42rem;
    border-top: 0.2rem solid #e0e0e0;
  }
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  img {
    max-height: 26rem;
    max-width: 26rem;
    margin-top: 2rem;
  }

  &-brand {
    text-align: center;
    line-height: 2.2rem;
    margin-bottom: 0;
  }
  &-regular {
    text-decoration: line-through;
    color: gray;
  }
  &-sale {
    font-weight: bold;
    color: $main-color;
    &:before {
      content: "\00a0";
    }
  }
}
.content {
  padding: 1rem;
}
//------- Products-Details

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  &-image {
    flex: 0 1 60rem;
    img {
      max-width: 60rem;
      width: 100%;
    }
  }
  &-info {
    flex: 1 1 30rem;
    & ul {
      padding: 0;
      list-style-type: none;
    }
    h1 {
      font-size: 2rem;
      margin: 0;
    }
    li {
      margin-bottom: 1rem;
      margin-left: 1rem;
    }
  }
}
