$main-color: #3a23ad;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 16px *62.5 =10px =1rem
}

body {
  height: 100vh;
  font: 1.6rem Helvetica, Arial;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-areas: 
  "header" //row
    "main" //row
    "footer"; //row
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #f8f8f8;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    &:hover{
      color: darkmagenta;
    }
  }
}

.brand{
  a{
    font-size: 3rem;
  }
}
footer{
  background-color: $main-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
