* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  height: 100vh;
  font: 1.6rem Helvetica, Arial;
  margin: 0; }

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 5rem;
  height: 100%; }

header {
  grid-area: header;
  background-color: #f8f8f8;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header a {
    color: black;
    font-weight: bold;
    text-decoration: none; }
    header a:hover {
      color: darkmagenta; }

.brand a {
  font-size: 3rem; }

footer {
  background-color: #3a23ad;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }

.products {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center; }
  .products li {
    flex: 0 1 10rem;
    margin: 1rem;
    margin-bottom: 0;
    height: 42rem;
    border-top: 0.2rem solid #e0e0e0; }

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%; }
  .product img {
    max-height: 26rem;
    max-width: 26rem;
    margin-top: 2rem; }
  .product-brand {
    line-height: 2.2rem;
    margin-bottom: 0; }
  .product-regular {
    text-decoration: line-through; }
  .product-sale {
    font-weight: bold;
    color: #3a23ad; }
    .product-sale:before {
      content: "\00a0"; }
